/* header */


.background-img {
    background-image: url(../images/img.jpg);
    height: 324px;
    max-width: 2000px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 30px;
    
}
.nav-div {
    display: flex;
    justify-content: space-around;
}

.nav-ul {
    display: flex;
}

.li-1 {
   margin-left: 30px;
}
a {
    color: white;
}
.about-us {
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    margin-left: 300px;
}
.about-us, h2 {
    font-size: 50px;
    color: white;
}
.about-us-2 {
    display: flex;
}
.about-us-2, p {
    color: white;
    font-size: 20px;
}
.line {
    height: 19px;
    width: 1px;
    background-color: purple;
    margin-right: 5px;
    margin-left: 5px;
}


